[Unit]
Description=Clip Keeper Clipboard Manager
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/clip-keep
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0

[Install]
WantedBy=default.target
